<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to jungle.com, your order id is: <%= @order.id %></h1>
    <p>
      You have successfully signed up to jungle.com!
    </p>
    <% @order_total = 0 %>
    <% @order.line_items.each do | details| %>
      <% quantity = details.quantity %>

      <% if product = details.product %>
        <% item_total = details.product.price * quantity %>
        <% @order_total += item_total %>

        <tr>
          <td>
            <h4><%= details.product.name %></h4>
          </td>
          <td>
            <%= details.product.price %>
          </td>
          <td>
            <%= details.quantity %>
          </td>
          <td>
            <%= item_total %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>